<form action="/car_detail" method="get">

    <div class="form_bg">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search a car for rent, ex. Lamborghini Huracan Evo..."
                aria-label="Search a car for rent, ex. Lamborghini Huracan Evo..." aria-describedby="button-addon2"
                name="search">
            <button type="submit" class="btn btn-danger"><%=image_tag "search.svg"%>Search</button>
        </div>
    </div>
</form>