<%= content_for :nav_header_box do%>
  <h6>About Us</h6>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active d-flex" aria-current="page">About Us</li>
    </ol>
  </nav>
  <%end%>
<div class="theme_spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12">
        <div class="about_text">
          <h4>ABOUT <br><span>SHIFT GEAR DUBAI</span></h4>
          <p>
          We want our customers to experience the luxury of driving top-end branded cars for rent! We help them by providing their dream car seamlessly at their doorstep. You can find the ultimate speed performance sports car like Lamborghini, Ferrari, McLaren and Premium luxury brands like Mercedes Benz, Rolls Royce and Bentley in Dubai.
          </p>
        </div>
      </div>
      <div class="col-md-5 col-12">
        <%=image_tag "abtimg.jpg" , class: "img-fluid" , alt: "" %> </div>
    </div>
  </div>
</div>

<div class="theme_spacing">
  <div class="container">
    <div class="about_text">
      <p class="text-center">
      Our Mission is to raise the bar of the customer experience by using the internet and technology to help customers find the best car rental deals at the most affordable prices. 
      </p>
    </div>
  </div>
</div>