<%= content_for :nav_header_box do%>
<h6>About Us</h6>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active d-flex" aria-current="page">About Us</li>
  </ol>
</nav>
<%end%>
<div class="theme_spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12">
        <div class="about_text">
          <h4>ABOUT <br><span>SHIFT GEAR DUBAI</span></h4>
          <p>
            The bedding was hardly able to cover it and seemed ready to slide off any moment. His<br>
            many legs, pitifully thin compared with the size of the rest of him.
          </p>
          <ul>
            <li>Curabitur in ipsum vel ipsum vehicula congue.</li>
            <li>Vestibulum pulvinar commodo malesuada.</li>
            <li>Pellentesque id massa et ligula convallis porta.</li>
            <li>Vivamus sed nunc sed ligula rhoncus sit amet eu elit.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-12">
        <%=image_tag "abtimg.jpg", class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>

<div class="theme_spacing">
  <div class="container">
    <div class="about_text">
      <p class="text-center">
        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, <br>dapibus in,
        viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
        imperdiet.<br>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
        rhoncus. Maecenas tempus,<br>tellus eget condimentum rhoncus, sem quam semper libero,
      </p>
    </div>
  </div>
</div>