<%= content_for :nav_header_box do%>
<h6>Contact Us</h6>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active d-flex" aria-current="page">Contact Us</li>
    </ol>
</nav>
<%end%>




<div class="theme_spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="cont_hadd">
                    <h6>Contact us</h6>
                    <h4>Need any Consultations?<br>Contact With Us</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        totam
                        rem aperia eaque epsa quae abillo inventore veritatis architecto</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col">
                        <div class="cont_hadd">
                            <img src="images/location.png" width="40" class="img-fluid mb-2" height="40" alt="" />
                            <h6>Address</h6>
                            <p>
                                3245 Abbot Kinney BLVD - PH<br>
                                Venice, CA 124<br>
                            </p>
                            <p><strong>13F Keangnam Landmark Tower</strong></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="cont_hadd">
                            <img src="images/chat.png" width="40" class="img-fluid mb-2" height="49" alt="" />
                            <h6>Contuct</h6>
                            <p>
                                Hotline : <strong>+001(123)45</strong><br>
                                Mobile : <strong>+001(123)45</strong><br>
                                Gmail : <strong>info.mailgecko.com</strong><br>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="theme_spacing">

        <div class="common-title">
            <span>Get In Touch</span>
            <h4>Send Us Message</h4>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 mb-3">
                <input type="text" class="form-control001" id="exampleFormControlInput1" placeholder="Full Name">
            </div>
            <div class="col-md-6 col-12 mb-4">
                <input type="text" class="form-control001" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="col-md-6 col-12 mb-4">
                <input type="text" class="form-control001" id="exampleFormControlInput1" placeholder="Phone Number">
            </div>
            <div class="col-md-6 col-12 mb-4">
                <input type="text" class="form-control001" id="exampleFormControlInput1" placeholder="Subject">
            </div>
            <div class="col-md-12 col-12 mb-4">
                <textarea class="form-control001" id="exampleFormControlTextarea1" placeholder="Write Message"
                    rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-warning02" type="button">Send Message</button>
            </div>

        </div>

    </div>
</div>