<%= content_for :nav_header_box do%>
<h6>Duke Leads - FZCO Cookie Policy</h6>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active d-flex" aria-current="page">Cookie Policy</li>
    </ol>
</nav>
<%end%>
<div class="theme_spacing">
    <div class="container">
        <div class="about_text">
            <p class="text-left">
                <strong>This website uses cookies.</strong><br>
                A cookie is a small text file that is downloaded to your computer that gives you a more personalized
                experience when using our website. They are not harmful and are not used to identify you personally.<br>
                For example, a cookie can record certain information about a visitor to a website to tailor their
                options for
                when they next visit.<br>
                By continuing to use this website we at Duke Leads - FZCO will assume that you are happy with our cookie
                policy and that we can place cookies on your computer device.<br>
                Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help
                guide of
                your browser to learn how to do this. But please remember that disabling or blocking cookies may impact
                your
                ability to use websites and the services that they offer.<br><br>
                Some tools you may find useful for working with cookies:<br>
                · Google Analytics Opt-out Browser Add-on - https://tools.google.com/dlpage/gaoptout
                To learn more about cookies visit<br>
                · All About Cookies - http://www.allaboutcookies.org/<br><br>
                <strong>Cookies Necessary for the Functioning of the Sites</strong><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Cloudflare</th>
                            <td>Shopify uses Cloudflare Network as a Service for edge routing.</td>
                            <td><code>https://www.cloudflare.com/privacypolicy/</code></td>
                        </tr>

                    </tbody>
                </table>
                <div class="clearfix"></div><br><br>
                <strong>Reporting & Analytics</strong><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Alexa Metrics</th>
                            <td>We use Alexa Metrics to help measure how users interact with our websites.</td>
                            <td><code>https://www.alexa.com/help/privacy</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Bizible</th>
                            <td>We use Bizible to help measure how users interact with our websites.</td>
                            <td><code>https://documents.marketo.com/legal/privacy/</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Bugsnag</th>
                            <td>We use Bugsnag to help us troubleshoot and fix issues with our websites.</td>
                            <td><code>https://docs.bugsnag.com/legal/privacy-policy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Chartbeat</th>
                            <td>We use Chartbeat to help measure how users interact with our websites.</td>
                            <td><code>https://chartbeat.com/privacy/</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Crazy Egg</th>
                            <td>We use Crazy Egg to help measure how users interact with our websites.</td>
                            <td><code>https://www.crazyegg.com/privacy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">DC Analytics</th>
                            <td>We use DC Analytics to help measure how users interact with our websites.</td>
                            <td><code>https://dcanalytics.dcmn.com/privacy-policy</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Facebook Pixel</th>
                            <td>We use Facebook Pixel to help measure how</td>
                            <td><code>https://www.facebook.com/privacy/explanation</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Fullstory</th>
                            <td>We use Fullstory to help measure how users interact with our websites.</td>
                            <td><code>https://www.fullstory.com/legal/privacy/</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Google Analytics</th>
                            <td>We use Google Analytics to help measure how users interact with our websites.</td>
                            <td><code>https://policies.google.com/privacy</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Google Tag Manager</th>
                            <td>We use Google Tag Manager to help manage analytics vendors.</td>
                            <td><code>https://policies.google.com/privacy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Hotjar</th>
                            <td>We use Hotjar to help measure how users interact with our websites.</td>
                            <td><code>https://www.hotjar.com/legal/policies/privacy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">KissInsights</th>
                            <td>We use KissInsights to help measure how users interact with our websites</td>
                            <td><code>https://signin.kissmetrics.com/privacy/</code></td>
                        </tr>

                        <tr>
                            <th scope="row">LinkedIn Insight Tag</th>
                            <td>We use LinkedIn Insight Tag to help measure how users interact with our websites.</td>
                            <td><code>https://www.linkedin.com/legal/privacy-policy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">New Relic</th>
                            <td>We use New Relic to help measure how users interact with our websites.</td>
                            <td><code>https://newrelic.com/termsandconditions/privacy</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Optimizely</th>
                            <td>We use Optimizely to help us test improvements or changes to our websites</td>
                            <td><code>https://www.optimizely.com/privacy/</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Pinterest Analytics</th>
                            <td>We use Pinterest Analytics to help measure how users interact with our websites.</td>
                            <td><code>https://policy.pinterest.com/privacy-policy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Snapchat</th>
                            <td>We use Snapchat to help measure how users interact with our websites.</td>
                            <td><code>https://snap.com/privacy/privacy-policy</code></td>
                        </tr>
                        <tr>
                            <th scope="row">TikTok</th>
                            <td>We use TikTok to help measure how users interact with our websites.</td>
                            <td><code>https://www.tiktok.com/legal/privacy-policy?lang=en</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Twitter</th>
                            <td>We use Twitter to help measure how users interact with our websites.</td>
                            <td><code>https://twitter.com/en/privacy</code></td>
                        </tr>

                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Bing Ads</th>
                            <td>We use Bing Ads to deliver targeted advertisements to individuals who visit our
                                websites.</td>
                            <td><code>https://privacy.microsoft.com/en-ca/privacystatement</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Facebook Custom Audiences</th>
                            <td>We use Facebook Custom Audiences to deliver targeted advertisements to individuals who
                                visit our
                                websites.</td>
                            <td><code>https://www.facebook.com/policy.php</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Google</th>
                            <td>We use Google Ads to deliver targeted advertisements to individuals who visit our
                                websites.</td>
                            <td><code>https://policies.google.com/privacy</code></td>
                        </tr>
                    </tbody>
                </table><br><br>
                <strong> Social Media & Content</strong><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Disqus</th>
                            <td>We use Disqus to provide commenting capabilities on posts on our websites</td>
                            <td><code>https://help.disqus.com/terms-and-policies/disqus-privacy-policy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Facebook Connect</th>
                            <td>We use Facebook Connect to allow visitors to our website to interact with and share
                                content via
                                Facebook’s social media platform</td>
                            <td><code>https://www.facebook.com/policy.php</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Gravatar</th>
                            <td>We use Gravatar to allow visitors to our websites to create avatars</td>
                            <td><code>https://en.gravatar.com/site/privacy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Twitter</th>
                            <td>We use Twitter to allow visitors to our website to interact with and share content via
                                Twitter’s
                                social media platform</td>
                            <td><code>https://twitter.com/en/privacy</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Wistia</th>
                            <td>We use Wistia to display video content.</td>
                            <td><code>https://wistia.com/privacy</code></td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <strong>Reporting and Analytics</strong><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Function</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">conversion</th>
                            <td>Oberlo analytics</td>
                        </tr>
                        <tr>
                            <th scope="row">conversion_leave</th>
                            <td>Oberlo analytics</td>
                        </tr>

                        <tr>
                            <th scope="row">trackExtensionCheck</th>
                            <td>Oberlo analytics</td>
                        </tr>

                        <tr>
                            <th scope="row">shopify_ref</th>
                            <td>Analytics relating to marketing & referrals. Referrals tracking.</td>
                        </tr>

                    </tbody>
                </table>
                Additionally, we use pixels and tags from the following third parties, which may in turn place
                cookies:<br><br>

                <strong>Reporting & Analytics:</strong><br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Google Analytics</th>
                            <td>We use Google Analytics to help measure how users interact with our websites.</td>
                            <td><code>https://policies.google.com/privacy</code></td>
                        </tr>
                    </tbody>
                </table><br><br>
                <strong>Advertising:</strong><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Bing Ads</th>
                            <td>We use Bing Ads to deliver targeted advertisements to individuals who visit our
                                websites.</td>
                            <td><code>https://privacy.microsoft.com/en-ca/privacystatement</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Facebook Custom Audiences</th>
                            <td>We use Facebook Custom Audiences to deliver targeted advertisements to individuals who
                                visit our
                                websites.</td>
                            <td><code>https://www.facebook.com/policy.php</code></td>
                        </tr>
                        <tr>
                            <th scope="row">Google</th>
                            <td>We use Google Ads to deliver targeted advertisements to individuals who visit our
                                websites</td>
                            <td><code>https://policies.google.com/privacy</code></td>
                        </tr>

                    </tbody>
                </table><br><br>


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Third Party</th>
                            <th scope="col">Description</th>
                            <th scope="col">Privacy Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Facebook Connect</th>
                            <td>We use Facebook Connect to allow visitors to our website to interact with and share
                                content via
                                Facebook’s social media platform.</td>
                            <td><code>https://www.facebook.com/policy.php</code></td>
                        </tr>

                        <tr>
                            <th scope="row">Youtube</th>
                            <td>We use Youtube to display video content.</td>
                            <td><code>https://policies.google.com/privacy?hl=en-US</code></td>
                        </tr>


                    </tbody>
                </table><br><br>

                <strong>How long will cookies remain on my computer or mobile device?</strong><br>
                The length of time that a cookie remains on your computer or mobile device depends on whether it is a
                “persistent” or “session” cookie. Session cookies last until you stop browsing and persistent cookies
                last
                until they expire or are deleted. Most of the cookies we use are persistent and will expire between 30
                minutes and two years from the date they are downloaded to your device. See the section below on how to
                control cookies for more information on removing them before they expire.<br><br>
                <strong>How to control cookies?</strong><br>
                You can control and manage cookies in various ways. Please keep in mind that removing or blocking
                cookies can
                negatively impact your user experience and parts of our website may no longer be fully
                accessible.<br><br>
                Most browsers automatically accept cookies, but you can choose whether or not to accept cookies through
                your
                browser controls, often found in your browser’s “Tools” or “Preferences” menu. For more information on
                how to
                modify your browser settings or how to block, manage or filter cookies can be found in your browser’s
                help
                file or through such sites as: <code>www.allaboutcookies.org</code><br><br>
                Many of the third party advertising and other tracking services listed above offer you the opportunity
                to
                opt-out of their tracking systems. You can read more about the information they collect and how to
                opt-out
                through the privacy policy links listed above.


            </p>
        </div>
    </div>
</div>