<div class="footer_cont">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-12">
           <div class="abt_ftr">
          <a href="/"> <%=image_tag "logo.png", class:"img-fluid" %> </a>
             <p>is a luxury car rental marketplace, where you can find the ultimate speed performance sport car like
               Lamborghini, Ferrari, McLaren till a prestigious luxury brands like Mercedes Benz, Rolls Royce and
               Bentley in Dubai. Select your favorite car, book and enjoy the ride in the perfect smooth Dubai roads.
             </p>
           </div>
         </div>
         <div class="col-md-2 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="prestige-&-business-cars.html"> Prestige & Business cars </a></li>
               <li><a href="suv-cars.html">SUV cars </a></li>
               <li><a href="sports-&-convertible-cars">Sports & Convertible cars </a></li>

             </ul>
           </div>
         </div>
         <div class="col-md-2 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="/about"> About Us</a></li>
               <li><a href="/contact"> Contact Us</a></li>
               <li><a href="/privacy"> Privacy Policy</a></li>

             </ul>
           </div>
         </div>
         <div class="col-md-2 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="/terms">Terms of Service</a></li>
               <li><a href="/cookie_policy">Cookie Policy</a></li>

             </ul>
           </div>
         </div>

       </div>
       <div class="clearfix"></div>
       <div class="brdr">
         <span>2022 © Shift Gear Dubai</span>
       </div>
     </div>
   </div>