<div class="footer_cont">
     <div class="container">
       <div class="row">
         <div class="col-md-3 col-12">
           <div class="abt_ftr">
           <%=image_tag "logo.png", class:"img-fluid" %>
             <p><code>shiftgeardubai.ae</code> - is a luxury car rental marketplace, where you can find the ultimate
               speed performance sport car like Lamborghini, Ferrari, McLaren till a prestigious luxury brands like
               Mercedes Benz, Rolls Royce and Bentley in Dubai. Select your favorite car, book and enjoy the ride in the
               perfect smooth Dubai roads.</p>
           </div>
         </div>
         <div class="col-md-3 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="#"> Rent Convertible cars in Dubai</a></li>
               <li><a href="#">Rent Crossover cars in Dubai</a></li>
               <li><a href="#">Rent Luxury cars in Dubai</a></li>
               <li><a href="#">Rent Sports cars in Dubai</a></li>
               <li><a href="#">Rent Super cars in Dubai</a></li>
               <li><a href="#">Rent SUV cars in Dubai</a></li>
               <li><a href="#">Rent Classic cars in Dubai</a></li>
               <li><a href="#">Rent Bentley in Dubai</a></li>
               <li><a href="#">Rent Ferrari in Dubai</a></li>
               <li><a href="#">Rent Lamborghini in Dubai</a></li>
               <li><a href="#">Rent Land Rover & Range Rover in Dubai</a></li>
               <li><a href="#">Rent McLaren in Dubai</a></li>
               <li><a href="#">Rent Mercedes-Benz in Dubai</a></li>
               <li><a href="#">Rent Rolls-Royce in Dubai</a></li>

             </ul>
           </div>
         </div>
         <div class="col-md-3 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="#"> Car rental in Al Bada'a</a></li>
               <li><a href="#">Car rental in Al Barsha</a></li>
               <li><a href="#">Car rental in Al Karama</a></li>
               <li><a href="#">Car rental in Al Quoz</a></li>
               <li><a href="#">Car rental in Al Satwa</a></li>
               <li><a href="#">Car rental in Al Sufouh</a></li>
               <li><a href="#">Car rental in Al Wasl</a></li>
               <li><a href="#">Car rental in Bluewaters Island</a></li>
               <li><a href="#">Car rental in Bur Dubai</a></li>

             </ul>
           </div>
         </div>
         <div class="col-md-3 col-12">
           <div class="abt_link">
             <ul>
               <li><a href="#"> Rent Convertible cars in Dubai</a></li>
               <li><a href="#">Rent Crossover cars in Dubai</a></li>
               <li><a href="#">Rent Luxury cars in Dubai</a></li>
               <li><a href="#">Rent Sports cars in Dubai</a></li>
               <li><a href="#">Rent Super cars in Dubai</a></li>
               <li><a href="#">Rent SUV cars in Dubai</a></li>
               <li><a href="#">Rent Classic cars in Dubai</a></li>
               <li><a href="#">Rent Bentley in Dubai</a></li>
               <li><a href="#">Rent Ferrari in Dubai</a></li>
               <li><a href="#">Rent Lamborghini in Dubai</a></li>
               <li><a href="#">Rent Land Rover & Range Rover in Dubai</a></li>
               <li><a href="#">Rent McLaren in Dubai</a></li>
               <li><a href="#">Rent Mercedes-Benz in Dubai</a></li>
               <li><a href="#">Rent Rolls-Royce in Dubai
               <li><a href="#">Car rental in Business Bay</a></li>
               <li><a href="#">Car rental in Downtown</a></li>
               <li><a href="#">Car rental in Dubai International City</a></li>
               <li><a href="#">Car rental in Dubai Mall</a></li>
               <li><a href="#">Car rental in Dubai Marina</a></li>
               <li><a href="#">Car rental in Dubai Silicon Oasis</a></li>
               <li><a href="#">Car rental in Jumeirah Lake Towers</a></li>
               <li><a href="#">Car rental in Jumeirah Village</a></li>
               <li><a href="#">Car rental in Palm Jumeirah</a></li>
               <li><a href="#">Car rental in Umm Suqeim</a></li>
               <li><a href="#">Car rental in Za'abeel</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="clearfix"></div>
       <div class="brdr">
         <span>2022 © Shift Gear Dubai</span>
       </div>
     </div>
   </div>