<div class="nextpagebg01">

     <div class="">
       <div class="container">
         <div class="">
           <div class="row mt-2 mb-2">
             <div class="col-md-10 col-10">
               <p class="wa_text">
                 To get the prices call us directly at <strong>+971 55 454 2677</strong> or <strong>Whatapp +971 58 521
                   0662</strong>
               </p>
             </div>
             <div class="col-md-2 col-2">
               <div class="dropdown">
                 <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                   AED
                 </button>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                   <li><a class="dropdown-item" href="#">AED</a></li>
                   <li><a class="dropdown-item" href="#">Dollar</a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="clearfix"></div>

         </div>

       </div>
       <div class="nav_menu">
         <div class="container">
           <nav class="navbar navbar-expand-lg navbar-dark">
             <div class="container-fluid">
               <a class="navbar-brand" href="/"><%=image_tag "logo.png", class: "img-fluid", width:"150" %></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                 aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                 <ul class="navbar-nav ms-auto">

                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                       Prestige & Business cars
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item" href="/mercedes_benz_c_class">Mercedes Benz C class</a></li>
                       <li><a class="dropdown-item" href="/mercedes_benz_e_class">Mercedes Benz E class</a></li>
                       <li><a class="dropdown-item" href="/mercedes_benz_s_class">Mercedes Benz S class</a></li>
                       <li><a class="dropdown-item" href="/bmw_7_series">BMW 7 series</a></li>
                       <li><a class="dropdown-item" href="/rolls_royce_wraith">Rolls Royce Wraith</a></li>
                       <li><a class="dropdown-item" href="/rolls_royce_ghost">Rolls Royce Ghost</a></li>
                       <li><a class="dropdown-item" href="/rolls_royce_dawn">Rolls Royce Dawn</a></li>
                     </ul>
                   </li>

                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                       SUV cars
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item" href="#">Chevrolet Tahoe</a></li>
                       <li><a class="dropdown-item" href="#">GMC Yukon Denali</a></li>
                       <li><a class="dropdown-item" href="#">Cadillac Escalade</a></li>
                       <li><a class="dropdown-item" href="#">Mercedes Benz G63</a></li>
                       <li><a class="dropdown-item" href="#">Range Rover Sport</a></li>
                       <li><a class="dropdown-item" href="#">Range Rover Velar</a></li>
                       <li><a class="dropdown-item" href="#">Range Rover SVR</a></li>
                       <li><a class="dropdown-item" href="#">Audi Q8</a></li>
                       <li><a class="dropdown-item" href="#">Audi RSQ8</a></li>
                       <li><a class="dropdown-item" href="#">Lamborghini Urus</a></li>
                       <li><a class="dropdown-item" href="#">Bentley Bentayga</a></li>
                       <li><a class="dropdown-item" href="#">Rolls Royce Cullinan</a></li>

                     </ul>
                   </li>

                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                       Sports & Convertible cars
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item" href="#">Ford Mustang Cabrio</a></li>
                       <li><a class="dropdown-item" href="#">Chevrolet Camaro Cabrio</a></li>
                       <li><a class="dropdown-item" href="#">Chevrolet Corvette Stingray (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Audi R8</a></li>
                       <li><a class="dropdown-item" href="#">Audi R8 Cabrio</a></li>
                       <li><a class="dropdown-item" href="#">Porsche Cayman</a></li>
                       <li><a class="dropdown-item" href="#">Porsche Boxter (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Porsche 911 (Coupe)</a></li>
                       <li><a class="dropdown-item" href="#">orsche 911 (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari 488 GTB (Coupe)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari 488 Spyder (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari Roma (Coupe)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari Portofino (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari F8 Spyder (Cabrio)</a></li>
                       <li><a class="dropdown-item" href="#">Ferrari F8 (Coupe)</a></li>
                       <li><a class="dropdown-item" href="#">Lamborghini Huracan Evo</a></li>
                       <li><a class="dropdown-item" href="#">Lamborghini Huracan Evo Spyder (Cabrio)</a></li>
                     </ul>
                   </li>

                   <li class="nav-item">
                     <a class="nav-link" href="/about">
                       About Us
                     </a>
                   </li>

                   <li class="nav-item">
                     <a class="nav-link" href="/contact">
                       Contact Us
                     </a>
                   </li>

                 </ul>
               </div>
             </div>
           </nav>
         </div>
       </div>

       <div class="spacing">
         <div class="container">
           <div class="d-flex justify-content-center">
             <div class="slogan0 slogan col-md-9 col-12">
              <%=yield :nav_header_box%>
             </div>
           </div>
         </div>
       </div>


     </div>
   </div>